.container
  %section.section-heading.panel-heading
    %h2.section-title Listing events
  %section.section-body.panel-body
    %table.table.table-hover
      %thead
        %tr
          %th Name
          %th Description
          %th Start time
          %th End time
          %th User
          %th
          %th
          %th
      %tbody
        - @events.each do |event|
          %tr
            %td= event.name
            %td= event.description
            %td= event.start_time.meridian_hour
            %td= event.end_time.meridian_hour
            %td= event.user_id
            %td= link_to 'Show', event
            %td= link_to 'Edit', edit_event_path(event)
            %td= link_to 'Destroy', event, :method => :delete, :data => { :confirm => 'Are you sure?' }

  %section.panel-footer.bg-primary
    = link_to 'New Event', new_event_path, class: 'btn btn-primary'
