.container
  %section.section-heading.panel-heading
    %h2.section-title
      Name:
      = @event.name
  %section.section-body.panel-body
    %p
      %b Description:
      = @event.description
    %p
      %b Start:
      = @event.start_time.meridian_hour
    %p
      %b End:
      = @event.end_time.meridian_hour
    %p
      %b User:
      = @event.user_id
  %section.panel-footer.bg-primary
    = link_to 'Back', events_path, class: 'btn btn-primary'
    = link_to 'Edit', edit_event_path(@event), class: 'btn btn-primary'
