!!!
%html
  %head
    %meta{ :content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type" }/
    %title Theclassroom
    = csrf_meta_tags
    = render 'favicon'
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    .text-info.text-center
      = notice
    .text-danger.text-center
      = alert
    .wrapper
      = render partial: 'layouts/partial-general/header'
      = yield
